body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

#home {
  width: 100%;
  height: 100%;
}

header {
  height: 517px;
  background-image: url(header.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.intro {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #68C3A3;
}

h1 span {
  color : #52b3d9;
  margin-right: 15px;
}

.description {
  display: flex;
  justify-content: center;
  color: #ffffff;
}
nav {
  height: 60px;
  border-bottom: 1px solid #eee;
  z-index: auto;
}

ul {
  display: inline-block;
  list-style: none;
  margin-right: 9.5em;
  float: right;
}

li {
  margin: 9px;
  text-transform: uppercase;
  font-weight: 8;
  font-size: 14px;
  display: inline-block;
}

li a{
  text-decoration: none;
  color: black;
}

ul li:first-child {
  color: #68C3A3;
}

li a:hover {
  color: #68C3A3;
}

.logo {
  height: 33px;
  display: inline-block;
  float: left;
  margin-top: 13px;
  margin-left: 100px;
}

.aboutme {
  margin: 100px 10% 0 10%;
  height: 100px;
}

.aboutme h2 {
  text-align: center;
  text-transform: uppercase;
}
